<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              {{#if update}}
                  <img src=../../{{values.imageUrl}}
                alt="Sample photo" class="img-fluid add-rental-img"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              {{else}}
                  <img src="https://www.shutterstock.com/image-photo/house-rent-label-260nw-511372381.jpg"
                alt="Sample photo" class="img-fluid add-rental-img"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              {{/if}}
              
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                
                <h3 class="mb-5 text-uppercase">
                  {{#if update}}
                  Update Rental
                  {{else}}
                  Add Rentals
                  {{/if}}
                  </h3>
                  {{#if update}}
                    <form action="/rentals/edit/{{values._id}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="update">
                  {{else}}
                <form action="/rentals/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="type" value="insert">
                 {{/if}}
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" name="numSleeps" value="{{values.numSleeps}}" />
                        <label class="form-label" for="form3Example1m">Number of Sleeps</label>
                         {{#if validationMessages.numSleeps}}
            <br> <span style="color: red;"> *{{validationMessages.numSleeps}}</span><br />
            {{/if}}
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg"
                          name="numBedrooms" value="{{values.numBedrooms}}"/>
                        <label class="form-label" for="form3Example1n">Number of Bedrooms</label>
                         {{#if validationMessages.numBedrooms}}
            <br> <span style="color: red;"> *{{validationMessages.numBedrooms}}</span><br />
            {{/if}}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg"
                          name="numBathrooms" value="{{values.numBathrooms}}" />
                        <label class="form-label" for="form3Example1m1">Number Of Bathrooms</label>
                         {{#if validationMessages.numBathrooms}}
            <br> <span style="color: red;"> *{{validationMessages.numBathrooms}}</span><br />
            {{/if}}
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg"
                          name="pricePerNight" value="{{values.pricePerNight}}" />
                        <label class="form-label" for="form3Example1n1">price/Night</label>
                         {{#if validationMessages.pricePerNight}}
            <br> <span style="color: red;"> *{{validationMessages.pricePerNight}}</span><br />
            {{/if}}
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" name="headline" value="{{values.headline}}"/>
                    <label class="form-label" for="form3Example8">headline</label>
                     {{#if validationMessages.headline}}
            <br> <span style="color: red;"> *{{validationMessages.headline}}</span><br />
            {{/if}}
                  </div>

                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                    <h6 class="mb-0 me-4">featured Rental: </h6>
                    {{#if values.featuredRental}}
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" checked type="radio" name="featuredRental" id="femaleGender"
                        value="yes"/>
                      <label class="form-check-label" for="femaleGender">Yes</label>
                      {{#if validationMessages.featuredRental}}
            <br> <span style="color: red;"> *{{validationMessages.featuredRental}}</span><br />
            {{/if}}
                    </div>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="featuredRental" id="maleGender" value="no"/>
                      <label class="form-check-label" for="maleGender">No</label>
                    </div>

                  </div>
                  {{else}}
                  <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="featuredRental" id="femaleGender"
                        value="yes"/>
                      <label class="form-check-label" for="femaleGender">Yes</label>
                      {{#if validationMessages.featuredRental}}
            <br> <span style="color: red;"> *{{validationMessages.featuredRental}}</span><br />
            {{/if}}
                    </div>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" checked type="radio" name="featuredRental" id="maleGender" value="no"/>
                      <label class="form-check-label" for="maleGender">No</label>
                    </div>

                  </div>
                {{/if}}
                  <div class="form-outline mb-4">
                    <input type="file" id="form3Example9" class="form-control form-control-lg" name="imageUrl" value="{{values.imageUrl}}"/>
                    <label class="form-label" for="form3Example9">image <div class="gray_color">*only '.jpg', '.jpeg', '.gif', '.png' Format</div></label>
                     {{#if validationMessages.imageUrl}}
            <br> <span style="color: red;"> *{{validationMessages.imageUrl}}</span><br />
            {{/if}}
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" name="city" value="{{values.city}}"/>
                        <label class="form-label" for="form3Example1m1">City</label>
                         {{#if validationMessages.city}}
            <br> <span style="color: red;"> *{{validationMessages.city}}</span><br />
            {{/if}}
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n1" class="form-control form-control-lg" name="province" value="{{values.province}}"/>
                        <label class="form-label" for="form3Example1n1">Province</label>
                         {{#if validationMessages.province}}
            <br> <span style="color: red;"> *{{validationMessages.province}}</span><br />
            {{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>