<div class="rental_item">
    <div class="rental_item_div">
        <img src="{{imageUrl}}" alt="Property Image">
    </div>
    <h4>{{headline}}</h4>
    <p>Sleeps {{numBedrooms}} · {{numBathrooms}} BR · {{numBathrooms}} BA</p>
    <p><span class="bold-text">C${{pricePerNight}}</span> avg/night</p>
</div>